<div class="actions-container">
  <button mat-raised-button color="accent" [matBadge]="users.length" (click)="addUser()" class="add-button">Add User</button>
  <button mat-raised-button color="accent" [matBadge]="stationCount" (click)="addBaseStation()" class="add-button">Add Base Station</button>
</div>
<div class="container">
  <div class="cell">
    <h3>Users List:</h3>
    <mat-action-list class="user-list">
      <div class="user-container" *ngFor="let user of users">
        <button mat-list-item (click)="selectUser(user)">
          <img matListAvatar [src]="user.image" width="32px" height="32px" alt="IMAGE">
          <span matLine>{{user.name}}</span>
          <span class="thoughts" matLine>{{user.thoughts}}</span>
        </button>
        <button (click)="deleteUser(user)">
          <i class="material-icons">
            delete
          </i>
        </button>
      </div>
    </mat-action-list>
  </div>
  <div class="cell" *ngIf="selectedUser">
    <mat-tab-group>
      <mat-tab label="RSPR">
        <app-rspr-info *ngIf="selectedUser" [user]="selectedUser"></app-rspr-info>
      </mat-tab>
      <mat-tab label="matrix">
        <app-matrix-view *ngIf="selectedUser" [user]="selectedUser"></app-matrix-view>
      </mat-tab>
      <mat-tab label="graph">
        <app-graph-view *ngIf="selectedUser" [user]="selectedUser"></app-graph-view>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
