.container {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.container > .cell {
  display: table-cell;
  border: 1px dotted red;
  padding: 4px 6px;
  width: 2%;
  margin-bottom: 0;
}
.thoughts{
  margin-left: 16px;
  color: darkgray;
}
.user-container{
  display: flex;
}
